<!--# Author: Leigh Brown (ljbrown@bu.edu), 4/02/2026
# Description: scriptlet code to display one picture -->
{% extends 'dadjokes/base.html' %}

{% block content %}
<div class="container">
    <h3 style="text-align: center;">Picture</h3>
    <br>

    <div class="double2">
        <div class="imgside2">
            <img src="{{ picture.image_url }}" class="post-page-image"> 
        </div>

        <div class="post-info">
            <h3>Contributor: {{ picture.contributor }}</h3>
            <p>{{ picture.timestamp }}</p>
        </div>
    </div>
</div>
{% endblock %}