<!-- # File: random.html
# Author: Leigh Brown (ljbrown@bu.edu), 4/02/2026
# Description: scriptlet code to display random joke and picture -->
{% extends 'dadjokes/base.html' %}

{% block content %}
<div class="container">
    <h3 style="text-align: center;">Random Dad Joke + Picture</h3>
    <br>

    <div class="double2">
        <div class="imgside2">
            <img src="{{ picture.image_url }}" class="post-page-image">
            <h3>Picture contributor: {{ picture.contributor }}</h3>
            <h4>Added: {{ picture.timestamp }}</h4>
        </div>

        <div class="post-info">
            <h3>Joke</h3>
            <br>
            <p><i>{{ joke.joke }}</i></p>
            <br>
            <h3>Joke contributor: {{ joke.contributor }}</h3>
            <h4>Added: {{ joke.timestamp }}</h4>
        </div>
    </div>
</div>
{% endblock %}