<!-- # File: base.html
# Author: Leigh Brown (ljbrown4@bu.edu), 4/16/2026 -->

{% load static %}

<html>
    <head>
        <title>Adventure Archive</title>
        <link rel="stylesheet" href="{% static 'project-styles.css' %}">
    </head>
    <body>
        <header class="header">
            <div class="row-style-center">
                <a href="{% url 'home' %}" style="display: flex; align-items: center; gap: 15px; text-decoration: none;">
                    <img id="home" src="https://images.rawpixel.com/image_png_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3JtNjYxLWVsZW1lbnQtcmMtMDE1LXAucG5n.png">
                    <h4 class="header-link" style="color: black; margin: 0;">Adventure Archive</h4>
                </a>

                {% if request.user.is_authenticated %}
                <div style="display: flex; flex-direction: column;">
                    <!-- added this so it doesn't automatically log out user in case it was pressed on accident -->
                    <button class="toolbar-button" style="max-width: 70px;" onclick="toggleContent()">Logout</button>
                    <div id="hiddenInclude" style="display: none;">
                        <form method="post" action="{% url 'logout' %}" style="margin: 0; display: flex; flex-direction: column;">
                            {% csrf_token %}
                            <p> Are you sure you want to log out? </p>
                            <button class="toolbar-button" style="max-width: 70px;" type="submit">Logout</button>
                        </form>
                        <script>
                            function toggleContent() {
                                var x = document.getElementById("hiddenInclude");
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                } else {
                                    x.style.display = "none";
                                }
                                }
                        </script>
                    </div>
                </div>
                {% endif %}
            </div> 

            {% if request.user.is_authenticated %}
                <nav class="header-nav">
                    <a href="{% url 'destinations' %}" class="header-link">All destinations | </a>
                    <a href="{% url 'journals' %}" class="header-link">All journals | </a>
                    <a href="{% url 'information' %}" class="header-link">Information</a>
                </nav>
            {% endif %}

            <div class="row-style-center">
                {% if request.user.is_authenticated %}

                    {% if profile %}
                        <a href="{% url 'profile' %}" class="row-style-center profile-link">
                            {% if pfp %}
                                <img id="small" src="{{ pfp.url }}">
                            {% endif %}
                            <p><b>{{ profile.display_name }}</b></p>
                        </a>
                    {% endif %}
                {% endif %}
                {% if search_icon %}
                    <a href="{{ search_icon }}"><img id="home" src="https://cdn-icons-png.freepik.com/512/7828/7828884.png"></a>
                {% endif %} 

                {% if back_url %}
                    <a href="{{ back_url }}">
                        <img id="home" src="https://media.lordicon.com/icons/wired/outline/2753-arrow-big-left.svg">
                    </a>
                {% endif %}
            </div>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>
