<!-- # File: lodging.html
# Author: Leigh Brown (ljbrown4@bu.edu), 4/15/2026
# Description: this is the a page for a specific lodging during a destination-->
{% extends 'project/base.html' %}

{% block content %}
    {% if lodging.destination.cover_image %}
        <img class="banner" src="{{ lodging.destination.cover_image.url }}">
    {% endif %}
    <br>
    <main class="wide-container">

        <!-- page title -->
        <section class="profile-card {% if not cover %}profile-card-no-cover{% endif %}" style="justify-content: space-between;">
            <div style="display: flex; flex-direction: column; gap: 10px;">
                <h2>Lodging Information</h2>

                <div class="row-style-center">
                    <span class="badge parent-badge">{{ lodging.destination.location }}</span>
                </div>
            </div>
        </section>

        <div class="double-info">

            <!-- left main info -->
            <section class="white-card transport-main">
                <h3 style="margin-bottom: 18px;">Lodging Information</h3>

                <div class="transport-info-block">
                    <h4>Location</h4>
                    <p>{{ lodging.location }}</p>
                </div>

                <div class="transport-info-block">
                    <h4>Departure time</h4>
                    <p>{{ lodging.start_datetime }}</p>
                </div>

                <div class="transport-info-block">
                    <h4>Arrival time</h4>
                    <p>{{ lodging.end_datetime }}</p>
                </div>

                <div class="transport-info-block">
                    <h4>Additional Information</h4>
                    <p><b>Price:</b> ${{ lodging.price }}</p>
                    <br>
                    {% if lodging.notes %}
                        <p><b>Notes:</b></p>
                        <div class="notes-box">
                            <p>{{ lodging.notes }}</p>
                        </div>
                    {% else %}
                        <p>No notes added.</p>
                    {% endif %}
                </div>
            </section>

            <!-- right sidebar -->
            <div class="info-side">

                <section class="white-card info-side-card">
                    <h3 style="margin-bottom: 14px;">Destination Information</h3>
                    <p><b>Location:</b> {{ lodging.destination.location }}</p>
                    <br>
                    <a class="toolbar-button" href="{% url 'destination' lodging.destination.pk %}">View destination</a>
                </section>

                <section class="white-card info-side-card">
                    <h3 style="margin-bottom: 14px;">Actions</h3>
                    <div style="display: flex; flex-direction: column; gap: 10px;">
                        <a class="toolbar-button" href="{% url 'update_lodging' lodging.pk %}">Edit lodging</a>
                        <a class="toolbar-button" href="{% url 'delete_lodging' lodging.pk %}">Delete lodging </a>
                    </div>
                </section>

            </div>
        </div>
    </main>
{% endblock %}
