 <!-- # File: update_transportation.html
# Author: Leigh Brown (ljbrown4@bu.edu), 4/15/2026
# Description: this is the form for transportation updating -->
{% extends 'project/base.html' %}

{% block content%}
<main class="container" style="align-items: center; align-content: center;">
    <br>      
    <div class="log-card" style="align-items: center; align-content: center; width: 100%; max-width: 700px;">
        <h3 style="text-align: center;"> Update Transportation</h3>
        <br>
        <form class="login-form" action="{% url 'update_transportation' transportation.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="login-button" type="submit" value="Update Transportation">
        </form>
        <form action="{% url 'transportation' transportation.pk %}" style="width: 100px;" method='GET'>
            <input class="login-button" id="cancel" type="submit" value="Cancel">
        </form>
    </div>
</main>
{% endblock %} 

 