{% extends 'Restaurant/base.html' %}

{% block content %}
<br>
<h2><i>Welcome!</i></h2>
<p> <i>Expand your culinary horizons! Discover a new favorite by trying the top pizzas in Bronx. 
Bronx is home to the ever-popular Peppinos Pizza. With great pizzas on the menu, it isn't hard to see why. <br><br>

Some of the top dishes in Bronx are served at local pizzerias. Expand your horizons with delicious options like sandwiches, salads, calzones, and more. 
Get Regular Cheese Pizza to see why it's so well-loved by locals and visitors alike. One taste and you'll see why it's so popular. <br> <br>

Add to your meal with french fries. It's a good way to sample everything Peppinos Pizza has to offer.</i></p>

<p> <b> Location:</b> Located on the corner of 241st and White Plains Rd. If coming from the 2 Train, exit to the NW Corner and we are on your left. Right in front we also
have the 42, 41, 40 buses, as well as the bxM11.</p>

<img clas="image" src="{{restaurant}}">
<br>
<h2> Hours of Operation: </h2>
<div class="double">
    <div> 
        <p><b> Monday: </b></p>
        <p> <b>Tuesday:</b> </p>
        <p> <b>Wednesday:</b> </p>
        <p> <b>Thursday:</b> </p>
        <p> <b>Friday:</b> </p>
        <p> <b>Saturday:</b> </p>
        <p> <b>Sunday:</b> </p>
    </div>
    <div>
        <p>10:00 AM - 10:00 PM</p>
        <p>10:00 AM - 10:00 PM</p>
        <p>10:00 AM - 10:00 PM</p>
        <p>10:00 AM - 10:00 PM</p>
        <p>10:00 AM - 11:00 PM</p>
        <p>10:00 AM - 11:00 PM</p>
        <p>10:00 AM - 10:00 PM</p>
    </div>
</div>


{% endblock %}