{% extends 'blog/base.html' %}
<h1>{{article.title}}</h1>
 
 
{% block content %}
<main class="grid-container">
    
    <article class="feed-profile">
        {% if article.image_file %}
		<img src="{{article.image_file.url}}" alt="{{article.image_url}}">
        {% else %}
        <p> No image.</p>
		{% endif %}
        
        <div>
        <h2>{{article.title}}</h2>
        <strong>by {{article.author}} at {{article.published}}</strong>
        <p>
        {{article.text}}
        </p>
        <h3> <a href="{% url 'update_article' article.pk %}"> Update Article</a></h3>
        </div>

    <!-- display comments -->
     <div>
        <h2> Comments </h2>
        <h3><a href="{% url 'create_comment' article.pk %}">Create a comment</a></h3>
     {% for c in article.get_all_comments %}
     <article>
        <div>
            <strong> by {{c.author}} at {{c.published}} </strong>
            <p> {{c.text}} </p>
            <a href="{% url 'delete_comment' c.pk %}"> <b>delete</b> </a>
        </div>
    </div>
     </article>
     {% endfor %}
    </article>
 
 
</main>
{% endblock %}
 