body {
  margin: 0;
  background: #faf8f4;
  color: #312825;
  font-family: sans-serif;
}

.content {
  display: flex;
  min-height: 100vh;
  /* padding-bottom: 50px; */
}

/* navigation */
.nav-bar {
  width: 15%;
  border-right: 3px solid rgb(108, 22, 22);
  padding: 16px;
}
.nav-bar.collapsed {
  width: 70px;
  border-right: none;
}
.toggle-btn {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  color: white;
  background: rgb(108, 22, 22);
  border: 1px solid #312825;
  cursor: pointer;
  border-radius: 8px;
}
.nav-bar ul {
  list-style: none;
  margin-top: 20px;
  
}
.nav-bar li {
  margin: 14px 10;
  list-style: none;
  text-align: center;
}
.nav-bar a {
  font-size: 20px;
  font-weight: 600;
  color: rgb(108, 22, 22);
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.nav-bar.collapsed a {
  font-size: 0;
}
.nav-bar.collapsed span {
    display: none;
}

h5{
    padding-bottom: 0;
    margin: 8 auto;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* main container */
.container {
    width: 85%;
    height: 100%;
    margin: 20 20;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 100vh;
}
.double {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    width: 95%;
    margin: 5px auto;
    align-items: center;
    height: 80%
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    width: 100px;
    height: 100px;
}

.image {
  width: 80%;
  height: 80%;
}

.footer {
  text-align: center;
  padding: auto;
}

.submit-btn {
  width: 200px;
  background-color: rgb(108, 22, 22);
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0;
  border-radius:10px;
}

form {
  background-color: rgb(248, 235, 235);
  border-color: rgb(108, 22, 22);
  border-style: solid;
  border-radius: 15px;
  padding: 10px 30px;
  /* display: flex;
  flex-direction: column; */
}
 hr {
  color: rgb(108, 22, 22);
 }

 .req {
  color: rgb(186, 9, 9);
 }

#sub-itemsBread, #sub-itemsSlice, #sub-itemsPizza {
  padding-left: 70px;
 }
 .sub {
  padding:0;
  margin: 5px;
 }
 
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],input[type="number"], input[type="email"] {
  width: 300px;
  background-color: rgb(251, 247, 244);
  border-radius: 5px;
}


