body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f6eddd; 
    color: #312825;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px;
    margin: 0;
}

/* .top-nav ul {
    display: flex;             
    flex-direction: row;
    list-style: none;           
    margin: 0;
    padding: 0;                 
} */

.top-nav li {
    list-style: none;
}

.top-nav a {
    font-size: 20px;          
    font-weight: 500;
    color: #a81a01;
    text-decoration: none;
}

.top-nav a:hover {
    text-decoration: underline;
}


/* Main container */
.container {
    width: 90%;
    margin: 20 auto;
    padding-bottom: 50px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    max-height: 1000px;
}
.double {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    width: 95%;
    max-width: 1400px;
    margin: 50px auto;
    align-items: center;
    height: 80%
}
.double .quotes {
    font-size: 1.2rem;
    line-height: 1.6;
}

.double .showall-quotes {
    font-size: 1.2rem;
    line-height: 1.6;
    height: 100%;
    align-content: start;
}
.double .image img {
    width: 80%;
    height: 80%;
    border-radius: 8px;
    object-fit: cover;
}

.double .showall-image img {
    width: 50%;
    max-height: 50%;
    border-radius: 8px;
    object-fit: cover;
    align-content: center;
    padding-bottom: 5px;
}
 p {
    font-size: 20px;
 }
footer { 
    position: relative;
    text-align: center;
    padding: 15px;
}