
body {
  margin: 0;
  background: #f4f6f9;
  color: #312825;
  font-family: sans-serif;
}

header {
    max-width: 1200px;
    margin: 40px auto;
    border-bottom: 1px solid #bbc7c7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: none;
    border-top: 1px solid #bbc7c7;
    margin: 2px 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: #312825;
    padding: 0px;
}

a:hover {
    text-decoration: underline;
}

.grid-container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    max-width: 1200px;
    margin: 20px auto;
}
/* for profile page */
.container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;              
    margin: 20px auto;            
}
/* make the format for the personal profile page */
.double {
    display: grid;
    grid-template-columns: 200px 1fr;              
    max-width: 1200px;         
    width: 100%;
    margin-bottom: 0;
    align-items: flex-start;   
    justify-items: start  
}

.post {
    display:flex; flex-direction: row; gap: 15px; align-items: center;
}
.post h3 {
    margin: 0;
    padding: 8px;
}
/* displaying profiles in the feed */
.feed-profile {
    background: #f4f6f9;
    border-radius: 12px;
    padding: 8px;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    /* border-color:#312825;
    border-style: solid;
    border-width: 1px; */
}
/* format image in profile showing */
.feed-profile img {
    width: 95%;
    aspect-ratio: 1/1;  /* to make it a square */
    object-fit: cover;
    align-self: center;
}
.feed-profile h2 {
  margin: 12px 4px 2px 4px;
  padding: 0;
}
.feed-profile h5{
  margin: 6px 4px 10px 4px;
}

#home {
    width: 40px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 0px;
}

#postlogo {
    width: 25px;
    height: 25px;
    padding-bottom: 0px;
}

#personalprofile {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border-color:#312825;
    border-width: 2px;
    border-style: solid;
}

#personalprofileheader {
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border-color:#312825;
    border-width: 2px;
    border-style: solid;
}

#cam {
    border-radius: 50%;
}


.noposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.imgside {
    width: 20%;
    text-align: center;
}

.profile-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.post-info {
    width: 45%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.double2 {
    display: grid;
    grid-template-columns: 500px 1fr;              
    max-width: 1200px;         
    width: 100%;
    margin-bottom: 0;
    align-items: flex-start;   
    justify-items: start  
}
.imgside2 {
    width: 50%;
    text-align: center;
}

.post-page-image {
    width: 400px;
    height: auto;
    padding-bottom: 0px;
}
.post-image {
    width: 200px;
    aspect-ratio: 1/1;  /* to make it a square */
    padding-bottom: 0px;
}



/* responsive styles: adapt to smaller screen sizes */
@media screen and (max-width: 980px) {

    .feed-profile {
        grid-column: span 3;
        display: grid; /* nested grid */
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: center;
    }
    header {
        padding: auto;
        margin: 20px 40px;
    }
    .container {
        padding: auto;
        margin: 20px 40px;
    }
}


@media screen and (max-width: 760px) {

   .feed-profile {
        
        display: block; 
        margin: 0px 20px;
    }
    header {
        padding: auto;
        margin: 20px 40px;
    }
    .container {
        padding: auto;
        margin: 20px 40px;
    }

}
