{% extends 'quotes/base.html' %}
{% block title %}  Daily Dumbledore Quotes {% endblock %}

{% block content %}

<div class="container">
    <h1> About</h1>
        <br>
        <p> <b>Welcome to Dumbledore's Greatest Quotes!</b></p> <br>
        <p>This website is a collection of famous and inspirtational Albus Dumbledore Quotes from the movie franchise and book series, Harry Potter.
        </p> <br>

        <p> Albus Dumbledore is the headmaster of Hogwarts and acts as a guide and mentor to Harry Potter and his friends. He is a guiding force in the story, slowly revealing just enough information for the plot to continue without resolving the conflict for Harry.</p>
</div>
{% endblock %}