<!-- # File: login.html
# Author: Leigh Brown (ljbrown4@bu.edu), 3/01/2026
# Description: scriptlet code to allow for user login -->
{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="container">

    <h3 style="text-align: center;">Log in</h3>


    <form action = "{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_table}}

        <input type="submit" value="Login">

        {% if request.GET.next %} 
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% else %}
            <input type="hidden" name="next" value="{% url 'my_profile' %}">
        {% endif %}
    </form>

<hr>
</main>
{% endblock %}