{% extends 'mini_insta/base.html' %}

{% block content %}
<main class="container">

    <h3 style="text-align: center;">Log in</h3>


    <form action = "{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{form.as_table}}

        <input type="submit" value="Login">

        <!-- <input type="hidden" name="next" value="{% url 'my_profile' %}"> -->

        <!-- for getting u back to the page u were on when u were directed to login. not always back to show_all-->
        {% if request.GET.next %} 
            <input type="hidden" name="next" value="{{request.GET.next}}">
        {% else %}
            <input type="hidden" name="next" value="{% url 'my_profile' %}">
        {% endif %}
    </form>

<hr>
</main>
{% endblock %}