<!-- # File: show_post.html
# Author: Leigh Brown (ljbrown@bu.edu), 2/12/2026 + 2/24/2026
# Description: scriptlet code to display an individual post in the database and the associated data -->

{% extends 'mini_insta/base.html' %}
 
{% block content %}

<main class="container">
    <div class="double2">
        <div class="imgside2">
            {% if post.get_all_photos %}
                    {% for a in post.get_all_photos %}
                        <img class="post-page-image" src="{{a.get_image_url}}">
                    {% endfor %}
            {% endif%}
        </div>
         <!-- showcase post info-->
        <div class="post-info">
            <h2> {{post.profile.display_name}}</h2> 
            <p> {{post.profile.username}} </p>
            <hr>
            <p> {{post.caption}}</p>
            <br><br>
            <p style="color:gray"> timestamp: {{post.timestamp}}</p>
        </div>
    </div>
        <br>

    <div style="display: flex; justify-content: flex-start; gap: 15px;">
        <a href="{% url 'delete_post' post.pk %}"><button class="submit-btn"> delete post</button></a>
        <a href="{% url 'update_post' post.pk %}"><button class="submit-btn"> update post</button></a>
     </div>
</main>
{% endblock %}
 